node_modules

entry-lambda.zip
consumer-lambda.zip

aws/
data/
queue-attrs*.json
task-def*.json
.build_hash
sqs-policy.json
trust-policy.json
ecr create-repository 
cf-dist.json

terraform.tfstate
terraform.tfstate.backup
.terraform/
.terraform.lock.hcl
.terraform.lock

